:root {
  --white: rgb(255, 255, 255);
  --dark-blue: rgb(11, 11, 120);
  --blue: rgb(16, 16, 152);
  --grey: #333;
  --light-grey: #aaa;
  --white-off: rgb(248, 248, 248);

  --header-height: 64px;
  --padding: 32px;
  --padding-minor: 8px;
  --font-size: 12rem;

  --corner-radius: 8px;
  --border-size: 1px;
}
@media (orientation: landscape) {
  :root {
    --padding: 64px;
    --padding-minor: 16px;
  }
}
@media (orientation: landscape) and (min-width: 1600px),
  (orientation: portrait) and (min-width: 800px) {
  :root {
    --font-size: 16rem;
  }
}
