:root {
  /* colors */
  --white: rgb(255, 255, 255);
  --dark-blue: rgb(11, 11, 120);
  --blue: rgb(16, 16, 152);
  --grey: #333;
  --light-grey: #aaa;
  --white-off: rgb(248, 248, 248);
  /* spacing */
  --header-height: 64px;
  --logo-height: calc(var(--header-height) * 2 / 3);
  --padding: 32px;
  --padding-minor: 8px;
  --corner-radius: 8px;
  --border-size: 1px;
  --font-size: 12rem;
}
@media (orientation: landscape) {
  :root {
    --padding: 64px;
    --padding-minor: 16px;
  }
}

@media (orientation: landscape) and (min-width: 1600px),
  (orientation: portrait) and (min-width: 800px) {
  :root {
    --font-size: 16rem;
  }
}
