/*
// ////////////////
Application
// ////////////////
*/

#application-root {
  display: contents;
}

/* apply dark theme by default */
.application,
.application.dark {
  --foreground: var(--white);
  --midground: var(--dark-blue);
  --background: var(--blue);
  --shadow: var(--midground) 0 2px 5px 0;
}
/* apply light conditionally  */

.application.light {
  /* light theme */
  --foreground: var(--grey);
  --midground: var(--light-grey);
  --background: var(--white-off);
}

@media (prefers-color-scheme: light) {
  .application {
    /* light theme */
    --foreground: var(--grey);
    --midground: var(--light-grey);
    --background: var(--white-off);
  }
}
.application {
  background-color: var(--background);
  color: var(--foreground);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.application > main {
  height: 100%;
  overflow: scroll;
}

.application header {
  width: 100%;
  height: var(--header-height);
  display: flex;

  justify-content: space-between;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-color: var(--midground);
  padding: 8px;
  font-size: 24rem;
}

.application header .color-scheme-button::before {
  content: "◠";
}

.application.dark header .color-scheme-button::before {
  content: "☾";
}

.application.light header .color-scheme-button::before {
  content: "☼";
}

.application .not-showing {
  background-color: var(--midground);
}
.application .bezos-colored {
  color: red;
}

@media (orientation: landscape) {
  .application > main {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "form info"
      "form list";
  }
}
