:root {
  /* theme:dark */
  --foreground-dark: var(--white);
  --midground-dark: var(--dark-blue);
  --background-dark: var(--blue);
  --logo-dark: url("/src/assets/image/john_after_dark.svg");
  /* theme:light */
  --foreground-light: var(--grey);
  --midground-light: var(--light-grey);
  --background-light: var(--white-off);
  --logo-light: url("/src/assets/image/john_day_time.svg");
}

/* apply dark theme by default */
.application,
.application.dark {
  --foreground: var(--foreground-dark);
  --midground: var(--midground-dark);
  --background: var(--background-dark);
  --logo: var(--logo-dark);
  --shadow: var(--midground) 0 2px 5px 0;
}
/* apply light conditionally  */

.application.light {
  /* light theme */
  --foreground: var(--foreground-light);
  --midground: var(--midground-light);
  --background: var(--background-light);
  --logo: var(--logo-light);
}

@media (prefers-color-scheme: light) {
  .application {
    /* light theme */
    --foreground: var(--foreground-light);
    --midground: var(--midground-light);
    --background: var(--background-light);
    --logo: var(--logo-light);
  }
}
