/*
// ////////////////
Application
// ////////////////
*/

/* apply dark theme by default */
.application,
.application.dark {
  --foreground: var(--white);
  --midground: var(--dark-blue);
  --background: var(--blue);
  --shadow: var(--midground) 0 2px 5px 0;
}
/* apply light conditionally  */

.application.light {
  /* light theme */
  --foreground: var(--grey);
  --midground: var(--light-grey);
  --background: var(--white-off);
}

@media (prefers-color-scheme: light) {
  .application {
    /* light theme */
    --foreground: var(--grey);
    --midground: var(--light-grey);
    --background: var(--white-off);
  }
}
.application {
  background-color: var(--background);
  color: var(--foreground);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.application > main {
  height: 100%;
  overflow: scroll;
}
@media (orientation: landscape) {
  .application > main {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "form info"
      "form list";
  }
}
