* {
  box-sizing: border-box;
}
:root {
  font-size: 1px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--foreground);
  background: var(--background);
  font-size: var(--font-size);
}
