/*
// ////////////////
Transaction List
// ////////////////
*/
.transaction-list {
  grid-area: list;
  width: 100%;
  padding: var(--padding);
  overflow: hidden;
}
@media (orientation: landscape) {
  .transaction-list {
    height: 100%;
    overflow: scroll;
  }
}
.transaction-list table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 var(--padding-minor);
}

.transaction-list tr th {
  cursor: pointer;
}

.transaction-list .ascending .order-by::after {
  content: " ▲";
}
.transaction-list .descending .order-by::after {
  content: " ▼";
}

.transaction-list tr {
  height: 64px;
  border: var(--border-size) solid var(--foreground);
  border-radius: var(--corner-radius);
  padding: var(--padding-minor);
  box-shadow: var(--midground) 0 2px 5px 0;
}

.transaction-list td.category {
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (orientation: landscape) and (min-width: 1600px),
  (orientation: portrait) and (min-width: 800px) {
  .transaction-list td {
    font-size: inherit;
  }
}
