* {
  box-sizing: border-box;
}

button.hide::before {
  content: "Hide";
}

.hidden button.hide::before {
  content: "Show";
}

button.bezoslist::before {
  content: "+";
}

.bezos button.bezoslist::before {
  content: "-";
}

tr.hidden {
  background-color: grey;
}
tr.bezos {
  background-color: red;
}
tr.hidden.bezos {
  background-color: darkred;
}
